p {

    color: white;
}

.primary_color h1 , .primary_color {

    color: white;
}

.primary_color .star_ {

    color: white;
}

.footer_color {

    background-color: #304A62;
}

.footer_color_2 {
  
    background-color: #263646;
}



header {

    background-color: #263646;

}

header a:link  {

    color: white;
}

.primary_color {

    background-color: #00B691;
}

.secondary_color {

    background-color: white;
}

.white_row {

    background-color: white;
    height: 3px;
}

.grey_row {

    background-color: grey;
    height: 3px;
}

.black_row {

    background-color: black;
    height: 3px;
}


.input-style {

    width: 100%;
}

.input-style::placeholder {

    color: black;
}

.input-style , .input-style:focus {

    border: none;

    outline: none;
}

.fs_p {

    font-size: 10px;

}

.social_icons {

    font-size: 20px;


}