p {

    color: white;
}

.primary_color h1 , .primary_color {

    color: white;
}

.primary_color .star_ {

    color: white;
}

.footer_color {

    background-color: #304A62;
}

.footer_color_2 {
  
    background-color: #263646;
}



header {

    background-color: #263646;

}

header a:link  {

    color: white;
}

.primary_color {

    background-color: #00B691;
}

.secondary_color {

    background-color: white;
}

.white_row {

    background-color: white;
    height: 3px;
    width: 50px;
}

.grey_row {

    background-color: grey;
    height: 3px;
    width: 50px;
}

.black_row {

    background-color: black;
    height: 3px;
    width: 50px;
}


.input-style {

    width: 100%;
}

.input-style::placeholder {

    color: black;
}

.input-style , .input-style:focus {

    border: none;

    outline: none;
}

.fs_p {

    font-size: 10px;

}

.social_icons {

    font-size: 20px;

}

.s_icon {

    position: relative;
}

.s_icon::after  {

    content: " ";
    position: absolute;
    
    border: 1px white solid;
    border-radius: 50%;

    height: 50px;
    width: 50px;
    top: 0;
    left: 0;
}

.container_m {

    width: 50px;
    margin: auto;
}

@media all and (min-width:768px ) {

    .container_m {

        width: 100%;
    }

    h1 {

        font-size: 1.5em;
    }
    
}


@media all and (max-width:576px ) {


    h1 {

        font-size: 1.2em;
    }
    
}

@media all and (max-width:425px ) {


    h1 {

        font-size: 0.8em;
    }
    
}