p {

    color: white;
}

.primary_color h1 {

    color: white;
}

.primary_color .star_ {

    color: white;
}

header {

    background-color: #263646;

}

.primary_color {

    background-color: #00B691;
}

.secondary_color {

    background-color: white;
}

.white_row {

    background-color: white;
    height: 3px;
}

.grey_row {

    background-color: grey;
    height: 3px;
}